/docker/chatterbot-engine/app/*.sqlite3
/docker/chatterbot-engine/app/rabbitmq/__pycache__
/.vscode
/docker/chatterbot-engine/app/mongodb/__pycache__
/docker/chatterbot-engine/*.sqlite3
/vim.exe.stackdump
/docker/gmailkbclient/app/rabbitmq/__pycache__/*.pyc
/docker/notification-service/app/rabbitmq/__pycache__/*.pyc
*.pyc
*.h5
*.pkl
