/* You can add global styles to this file, and also import other style files */
@import "assets/styles/botui-theme-default.css";
/* @import "assets/styles/botui.min.css"; */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

lib-ngx-tree-children .tree-child {
    width: 800px !important;
}

.tree-title {
    font-size: 18px !important;
}

.d-inline-flex {
    width: 800px !important;
}
.input-rename {
    font-size: 14px !important;
    max-width: 600px !important;
    width: 600px !important
}

